.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 0%;
}

.nav h1 {
  color: blueviolet;
  font-size: 24px;
  font-weight: bold;
}
.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  border-radius: 3rem;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    height: 39px;
    border-right: none;
    border-radius: 3rem;
}

.nav .nav-search button{
    color: #333;
    border: 1px solid blueviolet;
    height: 39px;
    border: hidden;
    margin-left: 1rem;
    background-color: white;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    
    cursor: pointer;
    
  color: #333;
  transition: color 0.3s ease;
}

.nav ul a:hover{
  color: #aaa;
}

h1 a{
  color: blueviolet;
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 60px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{
  cursor: pointer;
  color: blueviolet;
}