
img{
    height: 100px;
    width: 100px;
}
table td , table th{
  
    padding: 10px;
    min-width: 160pxs;
    max-height: 10px;
    border-radius: 2rem;
}

table th.des{
    max-height: 20px;
    max-width: 20px;
}
.adjust-update-link{
    margin-left: 10px;
}
